<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Fruitkha</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->

    <link rel="stylesheet" href="~/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="~/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="~/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="~/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a asp-controller="Home" asp-action="Index">
								<img src="~/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a asp-controller="Home" asp-action="Index">Home</a>
									<ul class="sub-menu">
										<li><a asp-controller="Home" asp-action="Index">Static Home</a></li>
										<li><a asp-controller="Home" asp-action="Slider">Slider Home</a></li>
									</ul>
								</li>
								<li><a asp-controller="Home" asp-action="About">About</a></li>
								<li><a href="">Pages</a>
									<ul class="sub-menu">
										<li><a asp-controller="Pages" asp-action="P404">404 page</a></li>
										<li><a asp-controller="Home" asp-action="About">About</a></li>
										<li><a asp-controller="Shop" asp-action="Cart">Cart</a></li>
										<li><a asp-controller="Shop" asp-action="CheckOut">Check Out</a></li>
										<li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
										<li><a asp-controller="News" asp-action="News">News</a></li>
										<li><a asp-controller="Shop" asp-action="Shop">Shop</a></li>
									</ul>
								</li>
								<li><a asp-controller="News" asp-action="News">News</a>
									<ul class="sub-menu">
										<li><a asp-controller="News" asp-action="News">News</a></li>
										<li><a asp-controller="News" asp-action="SingleNews">Single News</a></li>
									</ul>
								</li>
								<li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
								<li><a asp-controller="Shop" asp-action="Shop">Shop</a>
									<ul class="sub-menu">
										<li><a asp-controller="Shop" asp-action="Shop">Shop</a></li>
										<li><a asp-controller="Shop" asp-action="CheckOut">Check Out</a></li>
										<li><a asp-controller="Shop" asp-action="SingleProduct">Single Product</a></li>
										<li><a asp-controller="Shop" asp-action="Cart">Cart</a></li>
									</ul>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
    @RenderBody();
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="services.html">Shop</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="~/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="~/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="~/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="~/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="~/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="~/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="~/js/sticker.js"></script>
	<!-- main js -->
	<script src="~/js/main.js"></script>

</body>
</html>