@{
    ViewData["Title"] = "Content";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h2 class="page-title">Başarı Hikayeleri İçerikleri</h2>
        </div>
    </div>
</div>